
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      background-color: aqua;
    }
    /*Centrerar texten*/
    h1 {
      color: orange;
      text-align: center;
      font-size: 48px;
      margin-bottom: 50px;
    }
    
    /*lägger dom upp till ner*/
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    li {
      margin-bottom: 20px;
    }
    
    a {
      color: red;
      text-decoration: none;
      font-size: 24px;
      border: 2px solid red;
      border-radius: 10px;
      padding: 10px 20px;
      transition: all 0.3s ease;
    }
    
    a:hover {
      background: red;
      color: blue;
      cursor: pointer;
      text-transform: uppercase;
    }